
@{
    ViewBag.Title = "ManageInsurances";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Theme CSS -->
<link href="~/Content/vendor/bootstrap/css/responsive.bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/vendor/bootstrap/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />

<!--Scripts-->
<script src="~/Content/vendor/bootstrap/js/jquery.dataTables.js"></script>
<script src="~/Content/vendor/bootstrap/js/dataTables.bootstrap.js"></script>
<script src="~/Content/vendor/bootstrap/js/dataTables.fixedColumns.js"></script>

<script src="~/Content/scripts/Insurance/ManageInsurances.js"></script>

<!--Scripts-->
<!-- Page-->
<div style="position: relative;padding: 1rem;margin: 1rem -15px 0;border: solid #f7f7f9;border-width: .2rem 0 0;">
    <div class="container">
        <h3 class="text-center trn">Manage Insurances</h3>
    </div>
    <br />
    <form class="form-inline">
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputClient" class="col-sm-2 col-form-label" style="padding: 6px; margin-right: 25px; font-size: 18px;">
                Client
            </label>
            <select id="selectClients" class="selectpicker" data-live-search="true"></select>
        </div>
        <button type="submit" id="btnSearch" class="btn btn-primary">Search</button>
    </form>

    <div class="row">
        <div class="col-sm-12">
            <table id="InsurancesTable" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%" role="grid" style="width: 100%;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Covering Type</th>
                        <th>Covering Percentage</th>
                        <th>Policy Start</th>
                        <th>Period</th>
                        <th>Price</th>
                        <th>Risk</th>
                        <th style="width: 57px;">Cancel Policy</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

</div>

