@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Body Home-->
<div id="home" class="container">
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-lg-12">
            <div class="intro-text">
                <span class="name trn" style="color:black">Insurances</span>
                <span class="skills trn" style="color:black">GAP</span>
            </div>
        </div>
    </div>
</div>
<!--.Body Home-->